<form action="<%= cat_rental_request_url(cat_rental_request) %>", method="post">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="cat_rental_request[status]" value="approved">
  <input type="submit" value="Approve">
</form>


<form action="<%= cat_rental_request_url(cat_rental_request) %>", method="post">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="cat_rental_request[status]" value="denied">
  <input type="submit" value="Deny">
</form>