<form action="<%=cat_rental_requests_url%>" method="post">

  <label for="cat_rental_request_cat_id">Cat id:</label>
  <input type="text" name="cat_rental_request[cat_id]" id="cat_rental_request_cat_id">

  <label for="cat_rental_request_begin_date">Begin date: </label>
  <input type="date" name="cat_rental_request[begin_date]" id="cat_rental_request_begin_date">

  <label for="cat_rental_request_end_date">End date: </label>
  <input type="date" name="cat_rental_request[end_date]" id="cat_rental_request_end_date">


  <input type="submit" value= "Reserve cat">

  <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">

</form>
