<h1>Rental for <%=@cat_rental_request.cat.name%>!</h1>
<ul>
	<li>Status: <strong><%=@cat_rental_request.status%></strong></li>
	<li>Begin date: <%=@cat_rental_request.begin_date%></li>
	<li>End date: <%=@cat_rental_request.end_date %></li>
</ul>